.partners {
    width: 1066.77px;
    height: 47.65px;
    margin: 100.18px auto 0;
    @extend %flex-x;

    @media (max-width: 375px) {
        flex-direction: column;
        align-items: center;
        width: 375px;
        height: auto;
        flex-wrap: wrap;
        gap: 40px;
        margin: 100px auto 0;
    }
}